body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.purple{
  background-color: purple;
  color:white;
  
}
ul{
  display:flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding:0px;
}
li{
  padding:5px;
}
.color{
  background-color: rgb(216, 182, 30);
}